@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400&display=swap");
:root {
	--adjust-size: 0px; /* 必要に応じて */
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html { scroll-behavior: smooth; }
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    transition: all 0.3s;
}
nav:hover{
    background: white;
   
    
    
}

nav .inner{
    width: 100%;
    height: 80px;
    position: relative;
    margin: 0 auto;
    
}
nav .inner h1{
    position: relative;
    left: 50px;
    top: 0px;
    margin: 30px 45px;
    font-family: 'Lilita One', sans-serif;
    font-size: 25px;

}

nav .inner h1 a{
    color: white;
}
nav:hover .inner h1 a{
    color: rgb(78, 78, 78);
}

/*햄버거*/
#nav_a {
  position: absolute;
  top: 0px;
  right: 40px;
  color: #000000;
  display: none;
  font-size: 30px;
}


/*메뉴부분*/
/*빨간줄 시작*/
nav .inner .menu li::before{
  content: "";
  position: relative;
  bottom: -45px;
  left: 7px;
  display: block;
  width: 1px;
  height: 2px;
  background-color: #ff4848;
  transition: all 0.4s;
  opacity: 0;
}
nav .inner .menu li:hover::before{
  width: 70px;
  opacity: 1;
}

nav .inner .menu li .submenu li:hover::before{  
  opacity: 0;
}

/*끝끝*/

nav .inner .menu li a{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 17px;
}
nav:hover .inner .menu li a{
    color: rgb(78, 78, 78);
}
 .menu > li:hover {
    transition-duration: 0.5s;
}
  
  .menu > li:hover .submenu {
    height: 250px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}

.menu {
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;

    top: -10px;
    right: -20px;
    width: 420px;
    overflow: hidden;
    
    
  }
  
  .menu > li {
    width: 20%; /*20*5=100%*/
    float: left;
    text-align: center;
    line-height: 50px;
    
  }
  
  .menu a {
    position: relative;
    color: #000000;
    
  }
  
  .submenu > li {
    border-bottom: 1px solid rgb(200, 200, 200);
    line-height: 50px;
    background-color: rgb(255, 255, 255, 0.9);
  }

    
  .submenu > li:first-child {
    margin-top: 0px;
    line-height: 50px;
    background-color: rgb(255, 255, 255, 0.9);
  }
  
  .submenu {
    height: 0px; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
  }

  /*메뉴 끝끝*/






/*바 퍼센트*/


.bar{
	position: fixed;
	top: 0px; left: 0px;
	width: 0%; height: 5px;
	background: linear-gradient(to right, black, coral, salmon, pink) !important;
	z-index: 9999999;
}
/*바 퍼센트 끝*/


/*top버튼*/
#topbutton{
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #1d1d1d;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: justify;
  text-align: center;
  padding-top: 25px;
  z-index: 50;
  border: 2px solid white;
  color: #fff;
}


figure{
    width: 100%;
    position: relative;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    
}

figure .fixed01{
    width: 100%; height: 100vh;
    
    /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
    background-image: url(../img/게임.jpg);
    background-repeat: no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
   
}



/*글자*/

.animated-text {
    opacity: 0;
    font-size: 2em;
    margin: 0 10px;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(20px);
    position: relative;
    color: white;
}


.animated-text[data-position="left"] {
    align-self: flex-end;
    position: relative;
    left: 85px;
    top: 250px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 700;
    font-size: 40px;
}

.animated-text[data-position="center"] {
    margin: 0 auto;
    position: relative;
    left: 94px;
    top: 260px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 700;
    font-size: 40px;
}

.animated-text[data-position="right"] {
    align-self: flex-start;
    position: relative;
    left: 90px;
    top: 310px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 400;
    font-size: 20px;
    color: #c8c8c8;
}
.animated-text[data-position="right1"] {
  align-self: flex-start;
  position: relative;
  left: 90px;
  top: 10px;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 15px;
  color: #c8c8c8;
  padding: 7px 20px;
  border: 1px solid #c8c8c8;
}

.detail:hover{
  transition: all 0.3s;
  font-weight: 600;
  color: white;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*글자 끝*/








/*애니메이션*/

.container {
    height: 40px;
    width: 40px;
    margin: 300px auto 0;
    position: relative;
    top: 200px;

  }
  .circle {
    background: rgba(255, 255, 255, 0);
    height: 20px;
    width: 30px;
    display: block;
    border: 3px solid #000000;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    animation-name:circle;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
    -webkit-animation-name:circle;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state:running;
  }
  .fa {
    font-size: 12px;
    color: #000000;
    bottom: 27px;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    animation-name:arrow;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
    -webkit-animation-name:arrow;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state:running;
    
  }
  .pulse {
      margin: 0 auto;
      border-radius: 80px;
      position: absolute;
    left: 5px;
      top: 5px;
      z-index: 0;
      background-color: transparent;
      opacity: 0;
      width: 40px;
      height: 40px;
      border: 10px solid #424242;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -o-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px;
      /* Giving Animation Function */
      -webkit-animation: pulse 1s linear infinite 0.3s;
      -moz-animation: pulse 1s linear infinite 0.3s; 
      border-image: initial;
  }
  @keyframes arrow
      {
      0%   {bottom:0;}
      75% {bottom:20px;}
      100% {bottom:0;}
      }
  @-webkit-keyframes arrow
      {
      0%   {bottom:0;}
    75% {bottom:20px;}
      100% {bottom:0;}
    }
  @keyframes circle
      {
      0%   {height:35px;}
      10% {height: 35px;}
    50% {height: 45px;}
      75% {height: 55px;}
    90% {height: 55px;}
      100% {height: 45px;}
      }
  @-webkit-keyframes circle
      {
      0%   {height:120px;}
      10% {height: 120px;}
    50% {height: 130px;}
      75% {height: 150px;}
    90% {height: 130px;}
      100% {height: 120px;}
      }
  @-webkit-keyframes pulse {       
    0% {-webkit-transform: scale(0); opacity: 0;}
    8% {-webkit-transform: scale(0); opacity: 0;}
    15% {-webkit-transform: scale(0.1); opacity: 1;}
    30% {-webkit-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -webkit-transform: scale(1.5);}
  }
  @-moz-keyframes pulse {       
    0% {-webkit-transform: scale(0); opacity: 0;}
    8% {-webkit-transform: scale(0); opacity: 0;}
    15% {-webkit-transform: scale(0.1); opacity: 1;}
    30% {-webkit-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -webkit-transform: scale(1.5);}
  }

/*화살표*/
.material-symbols-outlined{
    position: relative;
    left: 6px;
}






/*section*/
section{
  width: 100%;
  background-color: #1d1d1d;
}

section .inner{
  position: relative;
  width: 1180px;
  height: 80px;
  margin: 0 auto;
  display:block; 
}
/*flip시작*/
section .inner #flip { 
  height:50px; 
  overflow:hidden;} /* hidden을 해줘야 모든 텍스트가 보여지는 것이
} 숨김이 되어 정해진 높이만큼만 보여집니다. */

#flip div .q1{
  position: relative;
  left: 470px;
  top: 15px;
  display: flex;
  justify-content: center;
  color:#fff; 
  padding:4px 12px; 
  height:60px; 
  margin-bottom:45px; 
  display:inline-block; 
}

#flip div .q2{
  position: relative; 
  left: 470px;
  top: 15px;
  display: flex;
  justify-content: center;
  color:#fff; 
  padding:4px 12px; 
  height:60px; 
  margin-bottom:45px; 
  display:inline-block; 
}

#flip div .q3{
  position: relative;
  left: 470px;
  top: 7px; 
  display: flex;
  justify-content: center;
  color:#fff; 
  padding:4px 12px; 
  height:60px; 
  margin-bottom:45px; 
  display:inline-block; 
}

#flip div:first-child { 
  animation: show 20s linear infinite; 
} 

#flip div div { 
  /*background:#42c58a; */
} 
#flip div:nth-child(1) div { 
 /* background:#4ec7f3; */
} 
#flip div:nth-child(2) div { 
 /* background:#DC143C; */
} 

/* 가장 중요한 키프레임 값.
0~100까지 텍스트의 움직임을 margin으로 조정해줍니다.
위에서 아래로 변화가 생기도록 margin-top으로 하였습니다 */
@keyframes show { 
  0% {margin-top:-270px;} 
  5% {margin-top:-180px;} 
  33% {margin-top:-180px;} 
  38% {margin-top:-90px;} 
  66% {margin-top:-90px;} 
  71% {margin-top:0px;} 
  99.99% {margin-top:0px;} 
  100% {margin-top:-270px;} 
}

/*끝*/

.공지{
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 17px;
  font-weight: bold;
}
.s1{
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 14px;
  margin-left: 20px;
}
/*세션 끝*/





.section1{
  width: 100%;
  background: rgba(255, 255, 255);
}
/*두번째 세션*/
.section1 .inner1{
  position: relative;
  width: 100%;
  height: 60vh;
  margin: 0 auto;

}

/* 움직이는 텍스트 */
.animated-title {
  font-size:100px; 
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-weight:800; 
  position: absolute; 
  bottom: 0px;
  width: 100%;
  max-width:100%; 
  height: auto; 
  padding:200px 0; 
  overflow-x: hidden; 
  overflow-y: hidden; 
  color: #000000;
  opacity: 0.1;
  z-index: 0;
}
.animated-title .track {
  position: absolute; 
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite; 
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@media (hover: hover) and (min-width: 700px){
  .animated-title .content {-webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));}
}
/*움직이는 텍스트 끝*/

.section1 .inner1 img{
  position: relative;
  left: 270px;
  top: 70px;
  width: 180px;
}
.game-icon-text{
  position: relative;
  top: 80px;
  left: 260px;
  width: 300px;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-weight: 900;
  font-size: 20px;
  color: #424242;
}
.text-Vowel{
  position: absolute;
  top: 70px;
  left: 600px;
  width: 700px;
  height: auto;
  color: #424242;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
}

.text-Vowel h1{
  font-size: 30px;
}
.text-Vowel p{
  margin-top: 20px;
  line-height: 30px;
}
.text-Vowel p span{
  font-size: 17px;
  font-weight: 700;
}

.text-Vowel .solid::after{
  position: absolute;
  width: 800px;
  height: 1px;
  content: "";
  background-color: #9a9a9a;
  top: 170px;
}

.inner1 .more{
  position: absolute;
  top: 180px;
  right: 120px;
  border: 2px solid rgb(114, 114, 114, 0.3);
  padding: 5px 25px;
  border-radius: 7px;
  z-index: 4;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  transition: all 0.3s;
  color: #424242;
}
.inner1 .more:hover{
  
  transform: scale( 1.2);
  
}




.section2{
  width: 100%;
  background-color: white;
}
.section2 .inner{
  width: 1180px;
  height: 110vh;
  margin: 0 auto;
  
}
/*슬라이드*/
.slider{
  position: absolute;
  bottom: 90px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;

  
}
.slider .ss1{/*no-repeat <- 한번만 나오게*/
  background: url(../img/메이플2.png) no-repeat center center;
  background-size: cover;

  width: 100%;
  height: 100%;

  object-fit: cover;
  top: 0px;
  left: 0px;
  z-index: 0;

 
  
}
.slider .ss2{/*no-repeat <- 한번만 나오게*/
  background: url(../img/롤.png) no-repeat center center;
  background-size: cover;

  width: 100%;
  height: 100%;

  object-fit: cover;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.slider .ss3{/*no-repeat <- 한번만 나오게*/
  background: url(../img/오버워치.png) no-repeat center center;
  background-size: cover;


  width: 100%;
  height: 100%;

  object-fit: cover;
  top: 0px;
  left: 0px;
  z-index: 0;
}


/*슬라이드 끝*/

.top3{
  position: relative;
  top: 60px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 30px;
  font-weight: 900;
  color: #424242;
}
.top3 span{
  color: red;
}
.dream{
  position: relative;
  top: 70px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/

}
.slider h1{
  position: absolute;
  top: -400px;
  left: -450px;
  width: 700px;
  color: white;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 30px;
}

.slider p{
  position: absolute;
  top: -300px;
  left: -450px;
  width: 700px;
  color: white;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 17px;
}

.slider .solid::after{
  position: absolute;
  top: -230px;
  left: -450px;
  content: "";
  width: 800px;
  height: 1px;
  background-color: #c8c8c8;
}
.slider a{
  position: absolute;
  top: -180px;
  left: -470px;
  color: white;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 20px;
  padding: 5px 15px;
  transform: scale( 1.8);
}
.slider a span{
  transition: all 0.3s;
}
.slider a span:hover{
  transform: scale( 1.2);
  
}

/*점 표시*/
#dotContainer {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translate(0%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 33;
}

.dot {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #ccc; /* 기본 색상 */
}
/*끝*/



/*section3*/
.section3{
  position: relative;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  
}
.section3 .fixed02{
  width: 100%; height: 90vh;
  
  /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
  background-image: url(../img/컴퓨터게임배경.jpg);
  background-repeat: no-repeat; /* 배경이미지X */
  background-size: cover; /* 요소를 비율에 맞게 커버 */
  background-position: center; /* 이미지를 요소의 정가운데로 처리 */
  background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */

 
}
.section3 .fixed02 #mapleimg{
  position: absolute;
  width: 230px;
  height: 300px;
  object-fit: cover;
  border: 10px solid white;
  top: 130px;
  left: 100px;
  transform: rotate(-20deg);
}

.section3 .fixed02 #lolimg{
  position: absolute;
  width: 300px;
  height: 370px;
  object-fit: cover;
  border: 10px solid white;
  top: 130px;
  left: 320px;
  transform: rotate(-5deg);
}

.section3 .fixed02 #overimg{
  position: absolute;
  width: 240px;
  height: 330px;
  object-fit: cover;
  border: 10px solid white;
  top: 130px;
  left: 600px;
  transform: rotate(20deg);
}
.section3 .fixed02 h1{
  position: absolute;
  top: 70px;
  right: 340px;
  color: white;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 50px;
  width: 200px;
  animation: slide 1s ease-out;
}
@keyframes slide{
  from{ /*시작*/
    right: 0px;
      opacity: 0;/*처음엔 연하다가  opacity: 1; 이 되면 원래색으로 돌아옴*/
  }
  to{/*끝*/
    right: 340px;
      opacity: 1;
  }
}

@keyframes disappaer{ /*스크롤위치에 따라서 초기화*/
  from{
    right: 340px;
      opacity: 1;
  }
  to{
    right: 0px;
      opacity: 0;
  }
}
.section3 .fixed02 p{
  position: absolute;
  top: 400px;
  right: 400px;
  color: white;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 17px;
  animation: slide1 1s ease-out;
  
}
@keyframes slide1{
  from{ /*시작*/
    right: 0px;
      opacity: 0;/*처음엔 연하다가  opacity: 1; 이 되면 원래색으로 돌아옴*/
  }
  to{/*끝*/
    right: 400px;
      opacity: 1;
  }
}

@keyframes disappaer1{ /*스크롤위치에 따라서 초기화*/
  from{
    right: 400px;
      opacity: 1;
  }
  to{
    right: 0px;
      opacity: 0;
  }
}



.section4{
  width: 100%;
  background-color: white;
}

.section4 .inner{
  position: relative;
  width: 1280px;
  height: 400px;
  margin: 0 auto;

}
.section4 .inner h1{
  position: relative;
  top: 20px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 40px;
}
.section4 .inner h1 span{
  color: #ff6b3e;
}
.section4 .inner p{
  position: relative;
  top: 30px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 15px;
}
.section4 .inner p::before{
  position: absolute;
  top: -10px;
  left: 520px;
  display: flex;
  justify-content: center;
  content: "";
  width: 240px;
  height: 1px;
  background-color: #9a9a9a;

}
.section4 .inner a #rpg{
  position: absolute;
  bottom: 30px;
  width: 150px;
  transition: all 0.3s;
}
.section4 .inner a #rpg:hover{
  transform: scale(1.2);
}

.section4 .inner a #gta{
  position: absolute;
  left: 213px;
  bottom: 30px;
  width: 150px;
  transition: all 0.3s;
}
.section4 .inner a #gta:hover{
  transform: scale(1.2);
}

.section4 .inner a #mario{
  position: absolute;
  left: 426px;
  bottom: 30px;
  width: 135px;
  transition: all 0.3s;
}
.section4 .inner a #mario:hover{
  transform: scale(1.2);
}

.section4 .inner a #fifa{
  position: absolute;
  left: 639px;
  bottom: 30px;
  width: 150px;
  transition: all 0.3s;
}
.section4 .inner a #fifa:hover{
  transform: scale(1.2);
}
.section4 .inner a #case{
  position: absolute;
  left: 852px;
  bottom: 30px;
  width: 150px;
  transition: all 0.3s;
}
.section4 .inner a #case:hover{
  transform: scale(1.2);
}

.section4 .inner a #lol{
  position: absolute;
  left: 1068px;
  bottom: 30px;
  width: 170px;
  transition: all 0.3s;
}
.section4 .inner a #lol:hover{
  transform: scale(1.2);
}

/*흔들리는 사진*/
.section4 .inner p {
	line-height: 1;
}
.section4 .inner a {
	color: crimson;
	text-decoration: none;
}
.section4 .inner img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}
.section4 .inner #gallery {
	position: relative;
  top:40px;
	left: calc(-1 * var(--adjust-size));
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 20px;
	max-width: 100vw;
	padding: 20px;
	-webkit-perspective: 0;
	perspective: 0;
}
#gallery figure:nth-child(7n) {
	--duration: 1s;
	--pin-color: crimson;
}
#gallery figure:nth-child(7n + 1) {
	--duration: 1.8s;
	--pin-color: hotpink;
}
#gallery figure:nth-child(7n + 2) {
	--duration: 1.3s;
	--pin-color: magenta;
}
#gallery figure:nth-child(7n + 3) {
	--duration: 1.5s;
	--pin-color: orangered;
}
#gallery figure:nth-child(7n + 4) {
	--duration: 1.1s;
	--pin-color: darkorchid;
}
#gallery figure:nth-child(7n + 5) {
	--duration: 1.6s;
	--pin-color: deeppink;
}
#gallery figure:nth-child(7n + 6) {
	--duration: 1.2s;
	--pin-color: mediumvioletred;
}
#gallery figure:nth-child(3n) {
	--angle: 3deg;
}
#gallery figure:nth-child(3n + 1) {
	--angle: -3.3deg;
}
#gallery figure:nth-child(3n + 2) {
	--angle: 2.4deg;
}
#gallery figure:nth-child(odd) {
	--direction: alternate;
}
#gallery figure:nth-child(even) {
	--direction: alternate-reverse;
}
#gallery figure {
	--angle: 3deg;
	--count: 5;
	--duration: 1s;
	--delay: calc(-0.5 * var(--duration));
	--direction: alternate;
	--pin-color: red;

	position: relative;
	display: inline-block;
	margin: var(--adjust-size);
	padding: 0.5rem;
	border-radius: 5px;
	box-shadow: 0 7px 8px rgba(0, 0, 0, 0.4);
	width: 100%;
	height: auto;
	text-align: center;
	background-color: ghostwhite;
	background-image: url("https://images.unsplash.com/photo-1629968417850-3505f5180761?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTMzMjQ3ODJ8&ixlib=rb-4.0.3&q=80&w=500");
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;

	transform-origin: center 0.22rem;
	will-change: transform;
	break-inside: avoid;
	overflow: hidden;
	outline: 1px solid transparent;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#gallery.active figure {
	animation-duration: var(--duration), 1.5s;
	animation-delay: var(--delay),
		calc(var(--delay) + var(--duration) * var(--count));
	animation-timing-function: ease-in-out;
	animation-iteration-count: var(--count), 1;
	animation-direction: var(--direction), normal;
	animation-fill-mode: both;
	animation-name: swing, swingEnd;
}
#gallery figure:after {
	position: absolute;
	top: 0.22rem;
	left: 50%;
	width: 0.7rem;
	height: 0.7rem;
	content: "";
	background: var(--pin-color);
	border-radius: 50%;
	box-shadow: -0.1rem -0.1rem 0.3rem 0.02rem rgba(0, 0, 0, 0.5) inset;
	filter: drop-shadow(0.3rem 0.15rem 0.2rem rgba(0, 0, 0, 0.5));
	transform: translateZ(0);
	z-index: 2;
}
.section4 .inner figure img {
	aspect-ratio: 1 /1;
	width: 100%;
	object-fit: cover;
	display: block;
	border-radius: 5px;
	margin-bottom: 10px;
	z-index: 1;
}
.section4 .inner figure figcaption {
	font-size: 14px;
	font-weight: 400;
	z-index: 1;
}
.section4 .inner figure h2 {
	color: crimson;
	font-size: 22px;
}
.section4 .inner figure p {
	font-size: 17px;
}
.section4 .inner figure small {
	font-size: 12px;
}
.section4 .inner figure > div {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes swing {
	0% {
		transform: rotate3d(0, 0, 1, calc(-1 * var(--angle)));
	}
	100% {
		transform: rotate3d(0, 0, 1, var(--angle));
	}
}
@keyframes swingEnd {
	to {
		transform: rotate3d(0, 0, 1, 0deg);
	}
}
#info {
	position: relative;
	text-align: center;
	z-index: 1;
}
#info a {
	font-size: 1.1rem;
}
/*
@media (orientation: landscape) {
	#gallery {
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	}
}
*/
@media (min-width: 800px) {
	#gallery {
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	}
}


/*section5*/
.section5{
  width: 100%;
  background-color: white;
}

.section5 .inner{
  position: relative;
  width: 1280px;
  height: 600px;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/

}

.section5 .inner h1{
  position: relative;
  top: 50px;
  text-align: center;
  color: #424242;
  font-size: 30px;
  font-weight: bold;
}
.section5 .inner #declaration{
  position: relative;
  top: 70px;
  text-align: center;
  font-size: 17px;
  color: #000000;
}
.section5 .inner .soild{
  position: relative;
  top: 120px;
  width: 100%;
  height: 0.5px;
  display: flex;
  justify-content: center;
  margin: 0 auto; 
  background-color:#d0d0d0;
}
.section5 .inner ul{
  position: relative;
  top: 190px;
  width: 100%;
  height: 250px;
 
}
.section5 .inner ul li{
  position: relative;
  margin-right: 30px;
  float: left;
  width: 250px;
  height: 100%;
  border-radius: 40px;
  background-color: #3e3e3e;

}
.section5 .inner ul li:nth-child(1){
  background-color: #dcdcdc;
}
.section5 .inner ul li:nth-child(2){
  background-color: #838383;
  color: white;
}
.section5 .inner ul li:nth-child(3){
  background-color: #313131;
  color: white;
}
.section5 .inner ul li:last-child{
  position: absolute;
  right: 0px;
  margin-right: 0px;
  width: 440px;
  background: linear-gradient(45deg, Violet, Orange);
  color: white;
  

}
.section5 .inner ul li p{
  position: relative;
  margin: 30px 20px;
  font-size: 20px;
  font-weight: bold;
}
.section5 .inner ul li:nth-child(4) p{
  font-size: 25px;
  text-align: center;
}

.section5 .inner ul li .sports_esports{
  position: relative;
  top: 70px;
  left: 150px;
  transform: scale(7);

}
.section5 .inner ul li:nth-child(4) .sports_esports{
  position: relative;
  top: 30px;
  left: 210px;
 
  transform: scale(6);
  margin: 0 auto;
  
}
.section5 .inner ul li #p1{
  position: relative;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  top: -80px;
  left: -25px;
  padding: 5px 10px;
  font-weight: normal;
  font-size: 15px;
  background-color: white;
}
.section5 .inner #p2{
  position: relative;
  top: 220px;
  text-align: center;
  color: #9a9a9a;
}
.section5 .inner #p2 span{
  font-weight: bold;
  color: #757575;
}

.section5 .inner .soild1{
  position: relative;
  top: 260px;
  width: 100%;
  height: 0.5px;
  display: flex;
  justify-content: center;
  margin: 0 auto; 
  background-color:#d0d0d0;
}





/*footer*/
footer{
  width: 100%;
  background-color: #1d1d1d;
}

footer .inner{
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
footer .inner h3{
  position: relative;
  top: 40px;
  text-align: center;
  color: white;
  font-size: 25px;
}

footer .inner #footerp{
  position: absolute;
  width: 100px;
  left: 200px;
  top: 100px;
  color: rgb(211, 211, 211);
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-weight: bold;
}
footer .inner #footerp::after{
  position: absolute;
  top: 25px;
  left: 0px;
  content: "";
  width: 200px;
  height: 1px;
  background-color: #9a9a9a;
}

footer .inner #footerp2{
  position: absolute;
  width: 100px;
  left: 500px;
  top: 100px;
  color: rgb(211, 211, 211);
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-weight: bold;
}
footer .inner #footerp2::after{
  position: absolute;
  top: 25px;
  left: 0px;
  content: "";
  width: 200px;
  height: 1px;
  background-color: #9a9a9a;
}

footer .inner #footerp3{
  position: absolute;
  width: 100px;
  left: 800px;
  top: 100px;
  color: rgb(211, 211, 211);
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-weight: bold;
}
footer .inner #footerp3::after{
  position: absolute;
  top: 25px;
  left: 0px;
  content: "";
  width: 200px;
  height: 1px;
  background-color: #9a9a9a;
}
footer .inner #footerp4{
  position: absolute;
  width: 100px;
  left: 800px;
  top: 160px;
  color: rgb(211, 211, 211);
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-weight: bold;
}
footer .inner #footerp4::after{
  position: absolute;
  top: 25px;
  left: 0px;
  content: "";
  width: 200px;
  height: 1px;
  background-color: #9a9a9a;
}

footer .inner #ul1 li{
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  margin-top: 10px;
  color: rgb(211, 211, 211);
  position: relative;
  width: 100px;
  left: 200px;
  top: 100px;
}
footer .inner #ul2 li{
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  margin-top: 10px;
  color: rgb(211, 211, 211);
  position: relative;
  width: 100px;
  left: 500px;
  top: -35px;
}

#ul3{
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/

  position: relative;
  top: 60px;
  display: flex;
  justify-content:center;
  
}
#ul3 li{
  width: 120px;
  padding: 7px 10px;
  text-align: center;
  border: 1px solid white;
  color: white;
  margin: 0px 5px;
  transition: all 0.3s;
}
#ul3 li:hover{
  background-color: white;
  color: black;
}


footer .inner iframe{
  position: absolute;
  right: 100px;
  top: 100px;
  border-radius: 10px;
}

footer .inner .solid{
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 1px;
  background-color: #909090;
}

footer .inner #copy{
  position: relative;
  text-align: center;
  
  bottom: -120px;
  color: rgb(211, 211, 211);
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/

}



















/* 미디어쿼리 */
@media ( max-width: 1290px) {
  .inner{
    width: 100%;
  }
  

}

@media ( max-width: 1024px) {
  .text-Vowel .solid::after{
    display: none;
  }
  .section1 .inner1 .game-icon-text{
    position: relative;
    top: 60px;
    left:175px;
    width: 100px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 900;
    font-size: 17px;
    text-align: center;
  }
  .section1 .inner1 img{
    position: relative;
    left: 150px;
    top: 70px;
    width: 150px;
  }
  .text-Vowel{
    position: absolute;
    top: 70px;
    left: 400px;
    width: 700px;
    height: auto;
    color: #424242;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  }
  
  .text-Vowel h1{
    font-size: 25px;
  }
  .text-Vowel p{
    margin-top: 20px;
    line-height: 30px;
    font-size: 14px;
  }
  .text-Vowel p span{
    font-size: 14px;
    font-weight: 700;
  }
  
  .text-Vowel .solid::after{
    position: absolute;
    width: 800px;
    height: 1px;
    content: "";
    background-color: #9a9a9a;
    top: 170px;
  }
  .more{
    display: none;
  }

  .top3{
    position: absolute;
    top: 60px;
    left: 320px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 25px;
    font-weight: 900;
    color: #424242;
  }
  .top3 span{
    color: red;
  }
  .dream{
    position: absolute;
    left: 380px;
    top: 100px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  
  }
  /*슬라이드*/
  .slider{
    position: absolute;
    bottom: 90px;
    left: 60px;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 500px;

    
  }
  .slider .ss1{/*no-repeat <- 한번만 나오게*/
    background: url(/img/메이플2.png) no-repeat center center;
    background-size: cover;

    width: 100%;
    height: 100%;

    object-fit: cover;
    top: 0px;
    left: 0px;
    z-index: 0;

  
    
  }
  .slider .ss2{/*no-repeat <- 한번만 나오게*/
    background: url(/img/롤.png) no-repeat center center;
    background-size: cover;

    width: 100%;
    height: 100%;

    object-fit: cover;
    top: 0px;
    left: 0px;
    z-index: 0;
  }
  .slider .ss3{/*no-repeat <- 한번만 나오게*/
    background: url(/img/오버워치.png) no-repeat center center;
    background-size: cover;


    width: 100%;
    height: 100%;

    object-fit: cover;
    top: 0px;
    left: 0px;
    z-index: 0;
  }
  .slider h1{
    position: absolute;
    top: -400px;
    left: -350px;
    width: 700px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 20px;
  }
  
  .slider p{
    position: absolute;
    top: -300px;
    left: -350px;
    width: 700px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 14px;
  }
  
  .slider .solid::after{
    display: none;
  }
  .slider a{
    position: absolute;
    top: -180px;
    left: -370px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 20px;
    padding: 5px 15px;
    transform: scale( 1.8);
  }
  .slider a span{
    transition: all 0.3s;
  }
  .slider a span:hover{
    transform: scale( 1.2);
    
  }
  
}

@media ( max-width: 960px) {
  
}

@media ( max-width: 768px) {
  nav .inner h1{
    position: relative;
    left: 0px;
  }

  #nav_a{
    display: block;
    z-index: 88;
  }
  
  .menu{
    display: none;
    position: absolute;
    right: -90px;
    
  }
  .menu.active{
    display: flex;
    transition: all 0.6s;
   
  }
  .menu li{
   width: 60px;
   
  }
  .menu li a{
    font-size: 12px;
  }
  #flip {
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: -200px;
  }
  
  /*글자*/

  .animated-text {
    opacity: 0;
    font-size: 20px;
    margin: 0 10px;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(20px);
    position: relative;
    color: white;
  }


  .animated-text[data-position="left"] {
    align-self: flex-end;
    position: relative;
    left: 40px;
    top: 250px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 700;
    font-size: 20px;
  }

  .animated-text[data-position="center"] {
    margin: 0 auto;
    position: relative;
    left: 49px;
    top: 260px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 700;
    font-size: 20px;
  }

  .animated-text[data-position="right"] {
    align-self: flex-start;
    position: relative;
    left: 40px;
    top: 310px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 400;
    font-size: 15px;
    color: #c8c8c8;
  }
  .animated-text[data-position="right1"] {
  align-self: flex-start;
  position: relative;
  left: 40px;
  top: 10px;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 12px;
  color: #c8c8c8;
  padding: 2px 5px;
  border: 1px solid #c8c8c8;
  }

  .detail:hover{
  transition: all 0.3s;
  font-weight: 600;
  color: white;
  }
  .text-Vowel .solid::after{
    display: none;
  }
  
  .section1 .inner1 img{
    position: relative;
    left: 50px;
    top: 40px;
    width: 100px;
  }
  .section1 .inner1 .game-icon-text{
    position: relative;
    top: 40px;
    left:50px;
    width: 100px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    
  }
  .text-Vowel{
    position: absolute;
    top: 40px;
    left: 200px;
    width: 700px;

  }
  .text-Vowel h1{
    font-size: 15px;
  }
  .text-Vowel p{
    margin-top: 20px;
    line-height: 30px;
    font-size: 12px;
  }
  .text-Vowel p span{
    font-size: 12px;
    font-weight: 700;
  }
  
  .text-Vowel .solid::after{
    display: none;
  }
  .section1 .inner1 .more{
    display: none;
  }
 
  .top3{
    position: absolute;
    top: 60px;
    left: 230px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 20px;
    font-weight: 900;
    color: #424242;
  }
  .top3 span{
    color: red;
  }
  .dream{
    position: absolute;
    left: 270px;
    top: 100px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 14px;
  }
  /*슬라이드*/
  .slider{
    position: absolute;
    bottom: 90px;
    left: 60px;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 500px;

    
  }
  
  .slider h1{
    position: absolute;
    top: -400px;
    left: -270px;
    width: 700px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 20px;
  }
  
  .slider p{
    position: absolute;
    top: -300px;
    left: -270px;
    width: 700px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 10px;
  }
  
  .slider .solid::after{
    display: none;
  }
  .slider a{
    position: absolute;
    top: -180px;
    left: -370px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 20px;
    padding: 5px 15px;
    transform: scale( 1.8);
  }
}
@media ( max-width: 650px) {
 nav .inner h1{
  position: relative;
  left: 0px;
  font-size: 15px;
 }
 #flip {
  width: 100%;
  margin: 0 auto;
  position: relative;
  left: -300px;
  }
  .top3{
    position: absolute;
    top: 60px;
    left: 200px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 20px;
    font-weight: 900;
    color: #424242;
  }
  .top3 span{
    color: red;
  }
  .dream{
    position: absolute;
    left: 230px;
    top: 100px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 14px;
  }
  /*슬라이드*/
  .slider{
    position: absolute;
    bottom: 90px;
    left: 50px;
    display: flex;
    justify-content: center;
    width: 45%;
    height: 500px;

    
  }
  
  .slider h1{
    position: absolute;
    top: -400px;
    left: -230px;
    width: 700px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 20px;
  }
  
  .slider p{
    position: absolute;
    top: -300px;
    left: -230px;
    width: 700px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 10px;
  }
  
  .slider .solid::after{
    display: none;
  }
  .slider a{
    position: absolute;
    top: -180px;
    left: -230px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 20px;
    padding: 5px 15px;
    transform: scale( 1.8);
  }
}

@media ( max-width: 480px) {
  #flip {
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: -400px;
  }
  /*글자*/

  .animated-text {
    opacity: 0;
    font-size: 20px;
    margin: 0 10px;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(20px);
    position: relative;
    color: white;
  }


  .animated-text[data-position="left"] {
    align-self: flex-end;
    position: relative;
    left: 40px;
    top: 250px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 700;
    font-size: 16px;
  }

  .animated-text[data-position="center"] {
    margin: 0 auto;
    position: relative;
    left: 49px;
    top: 260px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 700;
    font-size: 16px;
  }

  .animated-text[data-position="right"] {
    align-self: flex-start;
    position: relative;
    left: 40px;
    top: 310px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 400;
    font-size: 12px;
    color: #c8c8c8;
  }
  .animated-text[data-position="right1"] {
  align-self: flex-start;
  position: relative;
  left: 40px;
  top: 10px;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 10px;
  color: #c8c8c8;
  padding: 2px 5px;
  border: 1px solid #c8c8c8;
  }

  .detail:hover{
  transition: all 0.3s;
  font-weight: 600;
  color: white;
  }
  .top3{
    position: absolute;
    top: 60px;
    left: 100px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 20px;
    font-weight: 900;
    color: #424242;
  }
  .top3 span{
    color: red;
  }
  .dream{
    position: absolute;
    left: 130px;
    top: 100px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 14px;
  }
  /*슬라이드*/
  .slider{
    position: absolute;
    bottom: 160px;
    left: 50px;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 400px;

    
  }
  
  .slider h1{
    position: absolute;
    top: -400px;
    left: -140px;
    width: 700px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 15px;
  }
  
  .slider p{
    position: absolute;
    top: -300px;
    left: -140px;
    width: 700px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 10px;
  }
  
  .slider .solid::after{
    display: none;
  }
  .slider a{
    position: absolute;
    top: -180px;
    left: -230px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 20px;
    padding: 5px 15px;
    transform: scale( 1.8);
  }
}

@media ( max-width: 320px) {
  /*글자*/

  .animated-text {
    opacity: 0;
    font-size: 20px;
    margin: 0 10px;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(20px);
    position: relative;
    color: white;
  }


  .animated-text[data-position="left"] {
    align-self: flex-end;
    position: relative;
    left: 40px;
    top: 250px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 700;
    font-size: 14px;
  }

  .animated-text[data-position="center"] {
    margin: 0 auto;
    position: relative;
    left: 49px;
    top: 260px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 700;
    font-size: 14px;
  }

  .animated-text[data-position="right"] {
    align-self: flex-start;
    position: relative;
    left: 40px;
    top: 310px;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-weight: 400;
    font-size: 10px;
    color: #c8c8c8;
  }
  .animated-text[data-position="right1"] {
  align-self: flex-start;
  position: relative;
  left: 40px;
  top: 10px;
  font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
  font-size: 8px;
  color: #c8c8c8;
  padding: 2px 5px;
  border: 1px solid #c8c8c8;
  }

  .detail:hover{
  transition: all 0.3s;
  font-weight: 600;
  color: white;
  }
  .top3{
    position: absolute;
    top: 60px;
    left: 20px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 20px;
    font-weight: 900;
    color: #424242;
  }
  .top3 span{
    color: red;
  }
  .dream{
    position: absolute;
    left: 50px;
    top: 100px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 14px;
  }
  /*슬라이드*/
  .slider{
    position: absolute;
    bottom: 160px;
    left: 15px;
    display: flex;
    justify-content: center;
    width: 23%;
    height: 400px;

    
  }
  
  .slider h1{
    position: absolute;
    top: -400px;
    left: -140px;
    width: 700px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 15px;
  }
  
  .slider p{
    position: absolute;
    top: -300px;
    left: -140px;
    width: 700px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 10px;
  }
  
  .slider .solid::after{
    display: none;
  }
  .slider a{
    position: absolute;
    top: -180px;
    left: -230px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif; /*기본 폰트*/
    font-size: 20px;
    padding: 5px 15px;
    transform: scale( 1.8);
  }
  
}
